figure {
    margin: 0;
    padding: 0;
  }
  .PSHeader {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    align-items: stretch;
    justify-content: center;
  }
  .PSHeaderIcon-Image_Mail{
    background-image: url(img/mail.png);
  }
  .PSHeaderIcon-Image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .PSHeader .PSHeader-Left, 
  .PSHeader .PSHeader-Right {
    display: flex;
    align-items: center;
  }
  .PSHeader-Left {
    flex: 1 1 30%;
  }
  .PSHeader-Right {
    flex: 1 1 30%;
    justify-content: flex-end;
  }
  .PSHeaderIcon {
    width: 48px;
    height: 48px;
    position: relative;
  }
  .user-pic__image {
    width: 100%;
    height: 100%;
    
  }
  #incoming{
    background-image: url(img/incom.png);
  }
  #outgoing {
    background-image: url(img/outcom.png);
  }
  #drafts {
    background-image: url(img/draft.png);   
  }
  #spam {
    background-image: url(img/spam.png);
  }
  .navIcons {
    height: 32px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0;
  }
  nav {
    flex-basis: 15vw;
    margin: 0 1em 0 0.3em;
  }
  nav > div {
    height: 2em;
    padding: 0.5em 1em;
  }
  nav > div:hover{
    background-color: bisque;
    cursor: pointer;
  }
  
  #mainDiv {
    display: flex;
    margin: 0 1em;
  }
  main > article {
    display: flex;
    margin: 10px 0;
  }
  .star {
    width: 21px;
    min-width: 21px;
    height: 20px;
    background-size: cover;
    margin-right: 5px;
  }
  .star1 {
    background-image: url("https://i.ibb.co/68QQBwW/star1.jpg");
  }
  .star2 {
    background-image: url("https://i.ibb.co/wsL2zdw/star2.jpg");
  }
  .attached {
    background-image: url(img/attach_26.png);
  }
  .section > header {
    flex-basis: 15vw;;
  }
  article span {
    cursor: pointer;
  }
  main {
    overflow: hidden;
  }
  main figure {
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 0.5em;
    cursor: pointer;
  }
  main > article > .section {
    display: flex;
    margin-right: 1em;
    margin-left: 0.5em;
    overflow: hidden;
  }
  main > article > .time {
    flex-basis: 10vw;
  }
  .dew {
    background-color: antiquewhite;
  }
  .mainSection {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
    align-items: baseline;
    flex-basis: 40vw;
  }
  .mainSection > div  {
      overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
  }
  .mainSection > header > span {
    margin: 0;
    font-weight: 700;
  }
  .mainSection > span:first-child(2) {
    flex-basis: 1vw;
  }
  .mainSection  > span:nth-child(3){
    flex-basis: 45vw;
  }
  
      @media (min-width: 320px) {
    
        body {
          margin: .5em;
          padding: 0;
        }
  
        .PSHeader-Left {
          margin: 0.5em 0;
      }
        .PSHeader-Left span{
          margin: 0 0 0 0.5em;
        }      
        .PSHeader-Right {
          margin: 0.5em 0;
      }
        .PSHeader-Right span {
          margin:  0 .5em 0 0;
        }
        .navIcons > div {
          display: none;
        }
        nav > div {
          width: 2em;
          padding: 0.5em 0.5em;
        }
        
        main > article > .section {
          display: block;
          flex-basis: 28vw;
          margin: 0;
          padding-left: 0.5em;
        }
        .mainSection {
          display: block;
          white-space: normal;
        }
        #mainDiv {
          margin: 0;
        }
        main > article > .time {
          flex-basis: 20vw;
        }
        .Zt {
          display: none;
        }
    
      }
      @media (min-width: 340px) {
        main > article > .section {
          flex-basis: 35vw;
        }
      }
      @media (min-width: 370px) {
        main > article > .section {
          flex-basis: 44vw;
        }
      }
      @media (min-width: 390px) {
        main > article > .section {
          flex-basis: 50vw;
        }
      }
       @media (min-width: 400px) {
  
        .PSHeader-Left {
          margin: 1em 0 0.5em 1em;
        }
        .PSHeader-Left span{
          margin: 1em 0 0.5em 1em;
        }      
        .PSHeader-Right {
          margin:  1em 1em .5em 0;
        }
        .PSHeader-Right span {
          margin:  1em 1em .5em 0;
        }
       }
      @media (min-width: 550px) {
  
        body {
          margin: 1em;
        }
  
        
  
        #mainDiv {
          margin: 0 1em;
        }
        main > article > .section {
          display: block;
          flex-basis: 45vw;
          margin-right: .1em;
        }
        .mainSection {
          display: block;
          white-space: normal;
        }
        main > article > .time {
          flex-basis: 16vw;
        }
        nav {
          flex-basis: 22vw;
          max-width: 25vw;
        }
        nav > div {
          width: 9em;
        }
        .navIcons > div {
          display: block;
        }
        .Zt {
          display: none;
        }
      }
  
      @media (min-width: 800px) {
  
        body {
          margin: 1em;
        }
  
        main > article > .section {
          display: flex;
          flex-basis: 64vw;
          margin-right: 1em;
        }
  
        .mainSection {
          display: flex;
          white-space: nowrap;
        }
  
        main > article > .time {
          flex-basis: 10vw;
        }
        nav > div {
          width: 9em;
        }
        .navIcons > div {
          display: block;
        }
        .Zt {
          display: inline;
        }
      }